<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <link rel="stylesheet" href="/styles/style.css"> <!-- Usar la ruta correcta -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Mooli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Kantumruy+Pro:wght@600&family=Mooli&display=swap" rel="stylesheet">
    <link rel="icon" href="https://del-cloudinary.s3.us-east-1.amazonaws.com/del/megaprint-icono-243x236-copia-99x96 (1).png">
</head>
<body>
    <div class="top-text">Visual IVR Movistar Colombia</div>
    <div class="movistar">
        <img src="/img/SVGmix-4MWkjz-movistar.svg" alt="Image" class="svg">
    </div>
    <div class="login-container">
        <img src="https://del-cloudinary.s3.us-east-1.amazonaws.com/RD_IMAGES/usuario.png" alt="" class="logo">
        <h2>Iniciar Sesión</h2>
        <form id="formulario">
            <input type="text" id="user" placeholder="Nombre de usuario" required>
            <img src="https://del-cloudinary.s3.us-east-1.amazonaws.com/del/usuario-de-perfil.png" alt="" class="user">
            <input type="password" id="pass" placeholder="Contraseña" required>
            <img src="https://del-cloudinary.s3.us-east-1.amazonaws.com/del/cerrar.png" alt="" class="pass">
            <div class="btnlog">  
                <input type="button" class="btnlog" value="Log In" onclick="validarInicioSesion()"></input>
            </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </div>
    <div class="login-left">
        <img src="https://del-cloudinary.s3.us-east-1.amazonaws.com/del/SVGmix-yjmQqj-dataanalytics.svg" alt="Image" class="svg">
    </div>
    <footer class="footer">
        <p>® 2025 Version 0.0.1</p>
    </footer>
    <script src="/login.js"></script> <!-- Ruta correcta -->
</body>
</html>
